<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/challenge7/src/com/tuenti/challenge2/igbopie/challenge7/Problem.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tuenti.challenge2.igbopie.challenge7.Problem"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="challenge7"/>
</launchConfiguration>
